footer {
  position: relative;
  background: url("../img/footerBG.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  footer .svg_1 {
    z-index: 1;
    position: absolute;
    padding-left: 35%;
    padding-top: 10%; }
  footer .svg_2 {
    z-index: 1;
    position: absolute;
    padding-left: 50%;
    padding-top: 5%; }
  footer .logo_download {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 150px; }
    footer .logo_download .download_app {
      padding-left: 20px; }
      footer .logo_download .download_app h1 {
        font-size: 70px;
        color: #ffffff; }
      footer .logo_download .download_app h3 {
        font-size: 25px;
        color: #A496CA; }
  footer .button {
    display: flex;
    justify-content: center;
    padding: 150px 90px 0 90px; }
    footer .button button {
      margin: 0 30px 0 30px;
      width: 310px;
      height: 77px;
      color: #ffffff;
      background-color: #5C3CAF;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      border: 1px solid #5C3CAF;
      border-radius: 50px;
      vertical-align: middle; }
      footer .button button a {
        color: #ffffff; }
      footer .button button img {
        width: 32px;
        padding: 0;
        vertical-align: middle; }
  footer .footer {
    background: rgba(10, 14, 52, 0.6);
    height: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .footer .img_logo {
      width: 189px;
      height: 33px;
      padding: 0 30px 0 30px; }
    footer .footer .social img {
      padding: 0 10px 0 10px; }
    footer .footer p {
      color: #ffffff;
      padding: 0 30px 0 30px; }
